# Dependencies
/vendor/
/node_modules/

# Credentials and sensitive data
/credentials.json
/service-account-credentials.json
/credentials mostrabile.json
/service-account-credentials mostrabile.json


# System files
.env
.DS_Store
Thumbs.db